<section class="py-20 px-4 bg-white text-nailab-purple-dark">
  <div class="container mx-auto max-w-4xl text-center">
    <h2 class="text-3xl font-bold mb-6 font-gotham"><%= section.title %></h2>
    <div class="prose prose-lg max-w-none mx-auto">
      <%= section.content.to_s.html_safe %>
    </div>
  </div>
</section>