<% content_for :title, "Editing about section" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing about section</h1>

// This file is now obsolete. Use app/views/admin/about_sections/ instead.

  <%= link_to "Show this about section", @about_section, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to about sections", about_sections_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
