<div class="max-w-2xl mx-auto mt-12 bg-white rounded-lg shadow p-8">
  <h1 class="text-2xl font-semibold mb-4">Application submitted</h1>
  <p class="mb-4">Thanks for signing up. We've received your application and will review it shortly.</p>
  <p class="mb-2">You will receive an email once your account is approved. Meanwhile you can <%= link_to 'return home', root_path %>.</p>
</div>
