<ul class="menu p-4 w-80 min-h-full bg-base-100 text-base-content">
  <!-- Sidebar content here -->
  <li><a>Dashboard</a></li>
  <li><a>Users</a></li>
  <li><a>Startups</a></li>
  <li><a>Events</a></li>
  <li><a>Content</a></li>
</ul>
