<section class="py-20 bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
      <h2 class="text-5xl font-bold text-gray-900 mb-0">Our Impact</h2>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
      <div class="value-card bg-nailab-teal pt-6 pb-6 px-4 text-center rounded-lg">
        <p class="text-nailab-purple text-4xl md:text-5xl font-bold mb-2">10+</p>
        <p class="text-sm md:text-base font-base text-gray-700">Years of Impact</p>
      </div>
      <div class="value-card bg-nailab-teal pt-6 pb-6 px-4 text-center rounded-lg">
        <p class="text-nailab-purple text-4xl md:text-5xl font-bold mb-2">54</p>
        <p class="text-sm md:text-base font-base text-gray-700">Africa Countries</p>
      </div>
      <div class="value-card bg-nailab-teal pt-6 pb-6 px-4 text-center rounded-lg">
        <p class="text-nailab-purple text-4xl md:text-5xl font-bold mb-2">30+</p>
        <p class="text-sm md:text-base font-base text-gray-700">Innovation Programs</p>
      </div>
      <div class="value-card bg-nailab-teal pt-6 pb-6 px-4 text-center rounded-lg">
        <p class="text-nailab-purple text-4xl md:text-5xl font-bold mb-2">$100M</p>
        <p class="text-sm md:text-base font-base text-gray-700">Funding Facilitated</p>
      </div>
      <div class="value-card bg-nailab-teal pt-6 pb-6 px-4 text-center rounded-lg">
        <p class="text-nailab-purple text-4xl md:text-5xl font-bold mb-2">1000</p>
        <p class="text-sm md:text-base font-base text-gray-700">Startups Supported</p>
      </div>
      <div class="value-card bg-nailab-teal pt-6 pb-6 px-4 text-center rounded-lg">
        <p class="text-nailab-purple text-4xl md:text-5xl font-bold mb-2">50+</p>
        <p class="text-sm md:text-base font-base text-gray-700">Partners</p>
      </div>
    </div>
  </div>
</section>
