<%# app/views/admin/resources/index.html.erb %>
<h1 class="text-2xl font-bold mb-6">Resources</h1>
<nav class="mb-6">
  <%= link_to 'New Resource', new_admin_resource_path, class: 'btn btn-primary' %>
</nav>
<%= render 'admin/resources/resource_list_by_type' %>
