default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: nailab_development
  username: postgres
  password: postgres
  host: localhost

test:
  <<: *default
  database: nailab_test
  username: postgres
  password: postgres
  host: localhost

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>