<div id="<%= dom_id template_guide %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= template_guide.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= template_guide.category %>
  </p>
</div>
