
<div class="mb-4">
  <strong>Title:</strong>
  <span><%= @section_content["title"] %></span>
</div>
<div class="mb-4">
  <strong>Description:</strong>
  <p><%= @section_content["paragraph_one"] %></p>
</div>
