<div id="<%= dom_id about_section %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= about_section.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Section type:</strong>
    <%= about_section.section_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= about_section.content %>
  </div>
</div>
