<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <%= render 'welcome_banner' %>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-12">
      <%= render 'startup_profile_summary' %>
      <%= render 'progress_charts' %>
      <%= render 'recommended_mentors' %>
    </div>
  </div>
</div>