<p>Hi <%= @user.email %>,</p>

<p>Thanks for your submission. Unfortunately, the admin team has reviewed your proposed profile changes and <strong>rejected</strong> them for the following reason:</p>

<blockquote><%= @reason %></blockquote>

<p>Please update your profile and resubmit when ready.</p>

<p>— Nailab Team</p>
